body {
    background-color: orange;
}

header {
    background-color: darkslategrey;
    color: black;
    text-align: center;
    font-size: x-large;
}
button {
    display: inline;
    border: solid orange 2px;
    background-color: brown;
    padding: 5 px;
    margin: 100px;
}

#ewoks {
    width: 400px;
    height: 400px;
}

#emp {
    width: 700px;
}
section {

    text-align: right;
    border: solid black;
    margin: 5px;
}